################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Libraries/
/build/
/VS/Barony/Debug/
/VS/Barony/Release/
/VS/.vs/
/VS.2015/Barony/Debug/
/VS.2015/Barony/Release/
/VS.2015/editor/editor-debug/
/VS.2015/editor/Debug/
/VS.2015/editor/Release/
/VS.2015/.vs/